html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #24353f;
}
.box {
  width: 50%;
  margin: auto;
  box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}
h1 {
  color: #17a2b8;
}
input {
  color: white !important;
}
.form-control::placeholder {
  color: white;
  opacity: 0.6;
}
.form-control:focus {
  box-shadow: unset;
}
.btn:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.nameValid,
.emailValid,
.passwordValid,
.emailDuplicate,
.emailExist,
.wrongPassword {
  color: red;
  display: none;
}
.successAlert {
  color: green;
  display: none;
}
.message {
  display: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.message p {
  margin-bottom: 8px !important;
}
.valid {
  color: green;
}
.valid:before {
  content: "✔";
  padding-right: 10px;
}
.invalid {
  color: red;
}
.invalid:before {
  content: "✖";
  padding-right: 10px;
}
.boxShadow {
  box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}
.input-group-text {
  width: 40px;
}
.input-group-text:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .box {
    width: 100%;
  }
}
